<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListarProductos</servlet-name>
        <servlet-class>com.fpmislata.servlets.ListarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaProducto</servlet-name>
        <servlet-class>com.fpmislata.servlets.AltaProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProducto</servlet-name>
        <servlet-class>com.fpmislata.servlets.ModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>com.fpmislata.servlets.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaProveedor</servlet-name>
        <servlet-class>com.fpmislata.servlets.AltaProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProveedores</servlet-name>
        <servlet-class>com.fpmislata.servlets.ListarProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaProductoProveedor</servlet-name>
        <servlet-class>com.fpmislata.servlets.AltaProductoProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProductosProveedores</servlet-name>
        <servlet-class>com.fpmislata.servlets.ListarProductosProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProductoProveedor</servlet-name>
        <servlet-class>com.fpmislata.servlets.ModificarProductoProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarNota</servlet-name>
        <servlet-class>com.fpmislata.servlets.EliminarNota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaMod</servlet-name>
        <servlet-class>com.fpmislata.servlets.NotaMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaNueva</servlet-name>
        <servlet-class>com.fpmislata.servlets.NotaNueva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notas</servlet-name>
        <servlet-class>com.fpmislata.servlets.Notas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarProductos</servlet-name>
        <url-pattern>/ListarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaProducto</servlet-name>
        <url-pattern>/AltaProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProducto</servlet-name>
        <url-pattern>/ModificarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaProveedor</servlet-name>
        <url-pattern>/AltaProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProveedores</servlet-name>
        <url-pattern>/ListarProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaProductoProveedor</servlet-name>
        <url-pattern>/AltaProductoProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProductosProveedores</servlet-name>
        <url-pattern>/ListarProductosProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProductoProveedor</servlet-name>
        <url-pattern>/ModificarProductoProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarNota</servlet-name>
        <url-pattern>/EliminarNota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaMod</servlet-name>
        <url-pattern>/NotaMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaNueva</servlet-name>
        <url-pattern>/NotaNueva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notas</servlet-name>
        <url-pattern>/Notas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
