<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorProducto</servlet-name>
        <servlet-class>com.fpmislata.servlets.ControladorProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProveedor</servlet-name>
        <servlet-class>com.fpmislata.servlets.ControladorProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>com.fpmislata.servlets.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPedido</servlet-name>
        <servlet-class>com.fpmislata.servlets.EliminarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoMod</servlet-name>
        <servlet-class>com.fpmislata.servlets.PedidoMod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoNuevo</servlet-name>
        <servlet-class>com.fpmislata.servlets.PedidoNuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidosProductos</servlet-name>
        <servlet-class>com.fpmislata.servlets.PedidosProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorNota</servlet-name>
        <servlet-class>com.fpmislata.servlets.ControladorNota</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorProducto</servlet-name>
        <url-pattern>/AltaProducto</url-pattern>
        <url-pattern>/ModificarProducto</url-pattern>
        <url-pattern>/ListarProductos</url-pattern>
        <url-pattern>/EliminarProducto</url-pattern>
        <url-pattern>/ListarProductosPorProveedores</url-pattern>
        <url-pattern>/ModificarProductoProveedor</url-pattern>
        <url-pattern>/ControladorProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProveedor</servlet-name>
        <url-pattern>/AltaProveedor</url-pattern>
        <url-pattern>/EliminarProveedor</url-pattern>
        <url-pattern>/ListarProveedores</url-pattern>
        <url-pattern>/ControladorProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/AltaUsuario</url-pattern>
        <url-pattern>/EliminarUsuario</url-pattern>
        <url-pattern>/ListarUsuarios</url-pattern>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/Logout</url-pattern>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorNota</servlet-name>
        <url-pattern>/NotaNueva</url-pattern>
        <url-pattern>/NotaMod</url-pattern>
        <url-pattern>/Notas</url-pattern>
        <url-pattern>/EliminarNota</url-pattern>
        <url-pattern>/ControladorNota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPedido</servlet-name>
        <url-pattern>/EliminarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoMod</servlet-name>
        <url-pattern>/PedidoMod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoNuevo</servlet-name>
        <url-pattern>/PedidoNuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidosProductos</servlet-name>
        <url-pattern>/PedidosProductos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
