/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-nov-2016, 9:25:38
    Author     : alumno
*/

.boton{
    text-decoration: none;
    color: black;
}

tbody tr:nth-child(odd) {
   background-color: #F2F2F2;
   padding: 10px;
}